@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.sc-container{
    width: 100%;
   position: relative;
   top: 180px;
    display: flex;
    flex-direction: column;
    
}
h1{
    margin-left: 500px;
}
.sc-container img{
    width: 150px;
    height: 150px;
   margin-left: 580px;
}
.sc-btn{
    text-decoration: none;
    /*margin-top: 80px;
    margin-left: 600px;
    border: 1px solid gray;
    border-radius: 5px;*/
    padding: 52px 580px;
    
    
    color: black;
}